<div
    class="sticky top-0 flex flex-row justify-between w-full py-3 px-5 bg-white items-center shadow-md shadow-blue-100"
>
    <div class="relative w-1/4 h-full text-gray-500 text-sm">
        <lucide-angular class="absolute top-1.5 left-1.5" size="16" [img]="Search" />
        <input
            class="w-full h-full outline-primary  border-gray-300 bg-gray-50 px-9 py-2.5 border-[0.5px] rounded-lg"
            type="text"
            placeholder="Buscar unidades, contratos..."
        />
    </div>
    <div class="p-3 hover-primary transition-colors duration-400 rounded-lg cursor-pointer">
        <lucide-angular size="16" [img]="User" />
    </div>
</div>
