<app-page-layout>
    @if (openInvitePopUp()) {
    <app-invite-popup
        (close)="closeInvitePopUp()"
        (copyLink)="copyLink()"
        [inviteLink]="inviteLink()"
    />
    } @if (registerPopUp()) {
    <app-register-popup (close)="closeRegisterPopUp()" />
    }

    <div class="flex justify-between flex-row w-full items-center">
        <div class="relative inline-flex items-center">
            <app-title-page title="Inquilinos" subTitle="Gerencie seus inquilinos" />
            <span
                class="absolute top-3 -right-1 px-2 py-0.5 text-xs rounded-full bg-blue-100 text-blue-600 font-semibold"
            >
                {{ totalTenants() }}
            </span>
        </div>
        <div class="flex flex-row gap-2">
            <div
                (click)="createInvite()"
                class="text-sm flex flex-row gap-1 py-2 px-3 h-10 items-center justify-center border-[0.5px] border-gray-300 rounded-lg text-black/70 cursor-pointer hover:bg-gray-100"
            >
                <lucide-angular [img]="Mail" size="18" />
                <span class="font-semibold">Enviar Convite</span>
            </div>
            <app-button-page (action)="openRegisterPopUp()" text="Novo Inquilino" />
        </div>
    </div>
    <div class="p-6 flex flex-col w-full gap-2 shadow-sm shadow-blue-200 rounded-2xl h-[65dvh]">
        <div class="w-full h-full flex flex-col gap-7">
            @switch (true) { @case (query.isPending()) {
            <div class="w-full h-full flex justify-center items-center p-5">
                <lucide-angular [img]="Loader2" class="animate-spin w-15 h-15" />
            </div>
            } @case (tenants().length > 0) {
            <app-input-page placeholder="Buscar inquilino..." />
            <div class="flex flex-col px-5 items-center w-full divide-y divide-gray-200 shadow-">
                <div class="flex flex-row w-full pb-3 px-4 text-center text-gray-400 font-semibold">
                    <span class="flex-1">Nome</span>
                    <span class="flex-1">Usuário</span>
                    <span class="flex-1">Telefone</span>
                    <span class="flex-1">Propriedade</span>
                    <span class="flex-1">Ações</span>
                </div>

                <div class="flex flex-col w-full divide-y divide-gray-200 text-center">
                    @for (tenant of tenants(); track tenant.username) {
                    <div class="flex flex-row p-4 hover:bg-gray-100 transition items-center">
                        <span class="flex-1 font-semibold text-black/70">{{
                            tenant.fullName
                        }}</span>
                        <span class="flex-1">{{ tenant.username }}</span>
                        <span class="flex-1">{{ tenant.username }}</span>
                        <span class="flex-1">{{ tenant.contracts ? '-' : tenant.contracts }}</span>
                        <button
                            class="flex-1 font-semibold text-sm h-10 bg-primary text-white rounded-lg cursor-pointer hover-primary"
                        >
                            Detalhar
                        </button>
                    </div>
                    }
                </div>
            </div>
            } @default {
            <div class="w-full h-full flex justify-center items-center">
                <span class="font-semibold">Sem inquilinos registrados</span>
            </div>
            } }
        </div>
    </div>
    @if (totalPages() > 1 ) {
    <app-pagination
        (changePage)="changePage($event)"
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
    />
    }
</app-page-layout>
