<div class="flex flex-row min-h-screen overflow-hidden">
    <app-side-bar />
    <div class="flex w-full flex-col">
        <app-header />
        <div class="p-5.5 flex flex-col gap-7 items-center h-full">
            @if (showInvitePopUp()) {
            <div class="fixed inset-0 backdrop-blur-xs flex items-center justify-center z-50">
                <div
                    class="w-full max-w-xl bg-white flex flex-col border-[0.5px] border-gray-300 items-center p-6 rounded-2xl shadow-lg"
                >
                    <span class="text-2xl font-semibold mb-4">Link de Convite</span>

                    <p class="w-full text-center wrap-break-word mb-6 font-mono text-black/70">
                        {{ inviteLink() }}
                    </p>

                    <div class="flex flex-col sm:flex-row gap-3 w-full justify-center">
                        <button
                            (click)="copyLink()"
                            type="button"
                            class="flex-1 text-sm h-10 font-semibold bg-primary px-3 py-2 text-white rounded-lg transition-colors hover-primary cursor-pointer"
                        >
                            Copiar link
                        </button>

                        <button
                            type="button"
                            class="flex-1 bg-red-600 hover:bg-red-500 text-white px-3 py-2 rounded-lg font-semibold transition-colors shadow-sm cursor-pointer"
                            (click)="closeInvitePopUp()"
                        >
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
            } @if (registerPopUp()) {
            <div class="fixed inset-0 backdrop-blur-xs flex items-center justify-center z-50">
                <div
                    class="w-full max-w-xl bg-white flex flex-col border-[0.5px] border-gray-300 items-center p-6 rounded-2xl shadow-lg"
                >
                    <div class="flex flex-col flex-start w-full">
                        <h2 class="font-semibold text-2xl">Registro de Inquilino</h2>
                        <p class="text-sm text-gray-500">Registre um novo inquilio</p>
                    </div>
                    <app-register-form />
                    <button
                        type="button"
                        class="w-full mt-2 bg-red-600 hover:bg-red-500 text-white px-3 py-2 rounded-lg font-semibold transition-colors shadow-sm cursor-pointer"
                        (click)="closeRegisterPopUp()"
                    >
                        Fechar
                    </button>
                </div>
            </div>
            }

            <div class="flex justify-between flex-row w-full items-center">
                <div class="relative inline-flex items-center">
                    <app-main-title title="Inquilinos" subTitle="Gerencie seus inquilinos" />
                    <span
                        class="absolute top-3 -right-1 px-2 py-0.5 text-xs rounded-full bg-blue-100 text-blue-600 font-semibold"
                    >
                        {{ users.length }}
                    </span>
                </div>
                <div class="flex flex-row gap-2">
                    <div
                        (click)="createInvite()"
                        class="text-sm flex flex-row gap-1 py-2 px-3 h-10 items-center justify-center border-[0.5px] border-gray-300 rounded-lg text-black/70 cursor-pointer hover:bg-gray-100"
                    >
                        <lucide-angular [img]="Mail" size="18" />
                        <span class="font-semibold">Enviar Convite</span>
                    </div>
                    <div
                        (click)="openRegisterPopUp()"
                        class="text-sm flex flex-row gap-1 py-2 px-3 h-10 items-center justify-center bg-primary text-white rounded-lg cursor-pointer hover-primary"
                    >
                        <lucide-angular [img]="Plus" size="18" />
                        <span class="font-semibold">Novo Inquilino</span>
                    </div>
                </div>
            </div>
            <div class="p-6 flex flex-col w-full gap-2 shadow-sm shadow-blue-200 rounded-2xl">
                <div class="w-full flex flex-col gap-7">
                    <div class="relative w-full h-full text-gray-500 text-sm">
                        <lucide-angular
                            class="absolute top-1.5 left-1.5"
                            size="16"
                            [img]="Search"
                        />
                        <input
                            class="w-full h-full outline-primary border-gray-300 bg-gray-50 px-9 py-2.5 border-[0.5px] rounded-lg"
                            type="text"
                            placeholder="Buscar inquilino..."
                        />
                    </div>
                    <!-- table  -->
                    <div
                        class="flex flex-col px-5 items-center w-full divide-y divide-gray-200 shadow-"
                    >
                        <!-- table header  -->
                        <div
                            class="flex flex-row w-full pb-3 px-4 text-center text-gray-400 font-semibold"
                        >
                            <!-- table rows  -->
                            <span class="flex-1">Nome</span>
                            <span class="flex-1">Usuário</span>
                            <span class="flex-1">Telefone</span>
                            <span class="flex-1">Propriedade</span>
                            <span class="flex-1">Ações</span>
                        </div>
                        <!-- table body  -->
                        <div class="flex flex-col w-full divide-y divide-gray-200 text-center">
                            <!-- table rows  -->
                            @for (user of users; track user.id) {
                            <div
                                class="flex flex-row p-4 hover:bg-gray-100 transition items-center"
                            >
                                <span class="flex-1 font-semibold text-black/70">{{
                                    user.name
                                }}</span>
                                <span class="flex-1">{{ user.username }}</span>
                                <span class="flex-1">{{ user.phone }}</span>
                                <span class="flex-1">{{ user.unit }}</span>
                                <button
                                    class="flex-1 font-semibold text-sm h-10 bg-primary text-white rounded-lg cursor-pointer hover-primary"
                                >
                                    Detalhar
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
