@import 'tailwindcss';

:root {
    --gradient-primary: linear-gradient(135deg, hsl(200 85% 45%), hsl(200 85% 55%));
}

@layer utilities {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        @apply appearance-none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }

    .gradient-primary {
        background: var(--gradient-primary);
    }

    /* .gradient-secondary {
    background: linear-gradient(135deg, hsl(200, 97%, 35%), hsl(200, 91%, 40%));
  } */

    /* .gradient-accent {
    background: linear-gradient(135deg, hsl(20 90% 55%), hsl(30 90% 60%));
  } */

    .transition-smooth {
        transition: all 0.3s ease-out;
    }

    .shadow-elegant {
        box-shadow: 0 4px 16px -4px hsl(0 0% 0% / 0.4);
    }

    .outline-primary {
        outline-color: hsl(200 85% 45%);
        outline-offset: 4px;
    }

    .outline-error {
        outline-color: #fb2c36;
        outline-offset: 4px;
    }

    .hover-primary {
        &:hover {
            @media (hover: hover) {
                background-color: hsl(200 85% 55%);
            }
        }
    }

    .bg-primary {
        background-color: hsl(200 85% 50%);
    }

    .text-primary {
        color: hsl(200 85% 50%);
    }

    .bg-blue-550 {
        background-color: hsl(200 85% 60%);
    }
}
