<app-popup-template>
        <span class="text-2xl font-semibold mb-4">Link de Convite</span>

        <p class="w-full text-center wrap-break-word mb-6 font-mono text-black/70">
            {{ inviteLink() }}
        </p>

        <div class="flex flex-col sm:flex-row gap-3 w-full justify-center">
            <button
                (click)="onCopyLink()"
                type="button"
                class="flex-1 text-sm h-10 font-semibold bg-primary px-3 py-2 text-white rounded-lg transition-colors hover-primary cursor-pointer"
            >
                Copiar link
            </button>

            <button
                type="button"
                class="flex-1 bg-red-600 hover:bg-red-500 text-white px-3 py-2 rounded-lg font-semibold transition-colors shadow-sm cursor-pointer"
                (click)="onClose()"
            >
                Fechar
            </button>
        </div>
    </app-popup-template>